{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        .card-image{
            position: relative;
            width: 255px;
            height: 190px;
            overflow: hidden;
        }
        .img-tricks{
            position: absolute;
            top: -9999px;
            left: -9999px;
            right: -9999px;
            bottom: -9999px;
            margin: auto;
        }

    </style>
{% endblock %}

{% block body %}
    <section id="header" class="spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('{{ asset('img/home_background.jpg') }}');background-position: center;background-attachment: fixed;background-repeat: no-repeat; ">
        <span class="mask bg-tertiary alpha-7"></span>
        <div class="spotlight-holder py-lg pt-lg-xl" style="height: 758px;">
            <div class="container d-flex align-items-center no-padding">
                <div class="col">
                    <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                        <div class="col-lg-7">
                            <div class="text-center mt-5">
                                <h1 class="heading h1 text-white">
                                    SnowTricks: one site, all Tricks
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="figures" class="slice slice-lg" data-delimiter="1">
        <div class="container">
            <div class="mb-md text-center">
                <h3 class="heading h3">Nouvelles figures</h3>
                <div class="fluid-paragraph text-center mt-4">
                    <p class="lead lh-180">Dernières figures ajoutées sur le site par des utilisateurs.{% if not app.user %} Merci de vous inscrire/connecter afin de les éditer ou suprimmer.{% else %} <a href="{{ path('tricks_add') }}" >Ajouter une figure</a>{% endif %}</p>
                </div>
            </div>

            <div class="row" id="tricks" data-offset="0" data-limit="8">
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <button id="more" type="button" class="btn btn-block btn-outline-tertiary">Voir plus <i id="load" class="fas fa-spinner fa-spin"></i></button>

                </div>

            </div>

        </div>
    </section>

    <section class="slice slice-lg">
        <div class="container">
            <div class="mb-5 text-center">
                <h3 class="heading h2">Offres disponible</h3>
                <div class="fluid-paragraph text-center">
                    <p class="lead mb-0">Choisissez votre offre ci-dessous.</p>
                </div>
            </div>
            <div class="card-deck mb-3">
                <div class="card card-pricing text-center px-3 mb-4">
                    <div class="card-header py-4">
                        <h4 class="mb-4">Pass Gratuit</h4>
                        <h1 class="display-4 text-primary text-center">0€</h1>
                        <span class="h6 text-muted">par mois</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>* 3 images par figures</li>
                            <li>* 1 video par figures</li>
                            <li>* Badge membre</li>
                        </ul>
                        {% if app.user %}
                        <button type="button" disabled class="btn btn-primary mb-3">En possesion</button></a>
                        {% else %}
                        <a href="{{ path('security_registration') }}"> <button type="button" class="btn btn-primary mb-3">Inscrivez-vous</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card card-pricing popular text-center px-3 mb-4 z-depth-3">
                    <div class="card-header py-4">
                        <h4 class="mb-4">Pass Premium</h4>
                        <h1 class="display-4 text-primary text-center">15€</h1>
                        <span class="h6 text-muted">par mois</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>* Badge premium sur votre profil</li>
                            <li>* 5 images par figures</li>
                            <li>* 3 vidéos par figures</li>
                            <li>* Annulation gratuite</li>
                        </ul>
                        <button type="button" class="btn btn-primary mb-3">Voir l'offre</button>
                    </div>
                </div>
                <div class="card card-pricing text-center px-3 mb-4">
                    <div class="card-header py-4">
                        <h4 class="mb-4">Pass Full</h4>
                        <h1 class="display-4 text-primary text-center">30€</h1>
                        <span class="h6 text-muted">par mois</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>* Badge full et premium sur votre profil</li>
                            <li>* Images illimités par figures</li>
                            <li>* Vidéos illimités par figures</li>
                            <li>* Figures en Top de listes</li>
                        </ul>
                        <button type="button" class="btn btn-primary mb-3">Voir l'offre</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space align-items-center">
                <div class="col-md-6">
                    <img src="{{ asset('img/snowboard.jpg') }}" class="img-center img-fluid rounded z-depth-3">
                </div>
                <div class="col-md-6 col-lg-5 ml-lg-auto">
                    <div class="pr-md-4">
                        <h3 class="heading heading-3 strong-500">
                            Envie de changer de snowboard ?
                        </h3>
                        <p class="lead text-gray mt-4"> Vous avez envie de changer de snowboard mais vous n'avez pas beaucoup de budget. Notre partenaire est fait pour vous !
                        </p>

                        <button type="button" class="btn btn-block btn-primary">Allez sur le site</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
        $( document ).ready(function () {
            var offset = $('#tricks').data('offset');
            var limit = $('#tricks').data('limit');
            var total = 0;

            function request(offset, limit)
            {
                $.ajax({
                    url: "{{ path('tricks_more') }}",
                    method: "POST",
                    data: {
                        'offset': offset,
                        'limit': limit,
                    },
                    success: function (result) {
                        total = result.length;
                        if (total < limit) {
                            //$("#more").prop('disabled',true);
                            $("#more").hide();
                        }

                        for(var i=0; i < result.length; i++)
                        {
                            var trick = result[i];
                            var slug = result[i]['slug'];
                            var images = result[i]['images']['0']['webPath'];
                            console.log(images);
                            var html =
                                "<div class=\"col-lg-3\" style=\"margin-bottom: 30px\">\n" +
                                "                    <div class=\"card\">\n" +
                                "                        <div class=\"card-image\">\n" +
                                "                           <a href=\"/tricks/"+ slug +" \" > <img src=\""+ images +"\" class=\"img-fluid\"></a>\n" +
                                "                        </div>\n" +
                                "                        <div class=\"card-body\">\n" +
                                "                            <div class=\"row mb-1\">\n" +
                                "                                <div class=\"col\">\n" +
                                "                                    <a href=\"/tricks/"+ slug +" \"><h5 class=\"heading heading-5 strong-600\">" + result[i]['name'] +  "</h5></a>  " +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                            {% if app.user %}\n" +
                                "                            <div class=\"col\">\n" +
                                "                                <div class=\"card-icon-actions card-icon-actions-lg text-right\">\n" +
                                "                                    <a href=\"/tricks/" + slug + "/edit  \"><i class=\"fas fa-pencil-alt\"></i></a>\n" +
                                "                                    <a href=\"/tricks/delete/" + slug + "\"><i class=\"fas fa-trash-alt\"></i></a>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "                            {% endif %}\n" +
                                "                        </div>\n" +
                                "                    </div>\n" +
                                "                </div>";


                            $('#tricks').append(html);
                        }
                    }
                });
                $('#load').hide();
                $('#tricks').animate({
                    opacity: 1,
                }, 1000);
            }

            request(offset, limit);
            offset = $('#tricks').data("offset") + limit;

            $('#more').on('click', function () {
                $('#tricks').animate({
                    opacity: 0,
                }, 100);
                request(offset, limit);
                offset += $('#tricks').data("offset") + limit;
            })
        })
    </script>
{%  endblock %}
