{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Page de profil {{ parent() }}{% endblock %}


{% block body %}
{% if user is null %}
    <section class="slice slice-xl">
        <div class="container" style="height: 500px;">
            <div class="row">
                <div class="col-lg-12 justify-content-center">
                    <div class="card bg-cover">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-center">
                                <div class="icon-text">
                                    <h2 class="heading">Compte inexistant</h2>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                    <h5>Le compte auxquels vous essayez d'accéder n'existe pas ou plus.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="slice slice-xl">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-dark">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon icon-lg">
                                    <span class="avatar avatar-lg bg-gradient-blue mr-3">{{ user.username|slice(0,1) }}</span>
                                </div>
                                <div class="icon-text">
                                    <h4 class="heading text-white">{{ user.username }}</h4>
                                    <p class="text-white"><i>Membre actif</i></p>
                                </div>
                            </div>
                            <br>
                            {% if app.user == user %}
                                <a href="{{ path('users_edit', {'user': user.username}) }}"><button type="button" class="btn btn-block btn-secondary">Editer votre profil</button></a>

                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% if app.user == user %}
                    <div class="card card-pricing popular text-center px-3 mb-4 z-depth-3">
                        <div class="card-header py-4">
                            <h4 class="mb-4">Pass Premium</h4>
                            <h1 class="display-4 text-primary text-center">15€</h1>
                            <span class="h6 text-muted">par mois</span>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li>* Badge premium sur votre profil</li>
                                <li>* Plus d'options d'ajouts de figures</li>
                                <li>* Et bien plus encore ..</li>
                            </ul>
                            <button type="button" class="btn btn-primary mb-3">Voir l'offre</button>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-lg-8 justify-content-end">
                    <div class="card bg-cover">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon-text">
                                    <h2 class="heading">Informations du membre</h2>
                                    <hr />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4>Description:</h4>
                                    {% if user.description is not null %}
                                        <p>{{ user.description }}</p>
                                    {% else %}
                                        <p><i>Pas encore de description..</i></p>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    <h4>Abonnement:</h4>
                                    <img src="{{ asset('img/badge.jpg') }}" class="avatar avatar-lg mr-3"> Membre actif
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card bg-cover">
                        <div class="card-body py-5">
                            <div class="d-flex align-items-start">
                                <div class="icon-text">
                                    <h2 class="heading">Activités de l'utilisiteur</h2>
                                    <p>Dernières actions de l'utilisateur (Commentaires)</p>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endif %}
{% endblock %}
