{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} {{ parent() }}{% endblock %}

{% block navbar %}navbar-dark{% endblock %}

{% block stylesheets %}

    <style>
        body {
            background-image: url({{ asset('img/trick_background.jpg') }});
        }

        #test {
            background-color: white;
            border: 0 solid white;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 5px 10px 18px #3f3f3f;
            margin-top: 5em;
            position: relative;
        }

    </style>

{% endblock %}

{% block body %}
    <section class="slice slice-xl spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen" >
        <span class="mask bg-tertiary alpha-7"></span>
        <div class="container" id="test">
            {% for message in app.flashes('success') %}
            <div class="alert alert-secondary alert-shadow alert-dismissible fade show" role="alert">
                <strong>Bravo!</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

            {% if app.user %}
               <div class="col">
                   <div class="card-icon-actions card-icon-actions-lg text-right">
                       <a href="{{ path('tricks_edit', {'id': trick.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                       <a href="{{ path('delete_tricks', {'id': trick.id}) }}"><i class="fas fa-trash-alt"></i></a>
                   </div>
               </div>
            {% endif %}

            <div class="row justify-content-center" style="margin-bottom: 20px">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            {{ trick.name }}
                        </h2>
                        <p class="lead lh-180">
                            <span class="badge badge-lg badge-pill badge-tertiary">Catégorie: {{ trick.category }}</span>
                            <span class="badge badge-lg badge-pill badge-secondary"><i>Modifié le {{ trick.createdAt|date("d/m/Y à H:i") }}</i></span>
                        </p>
                    </div>
                </div>
            </div>

            <h2 style="margin-left: 20px ">Description:</h2>
            <div class="font-weight-600 text-dark" style="margin-left: 10px; margin-right: 10px">
                {% autoescape %}
               {{ trick.description|raw }}
                {% endautoescape %}
            </div>
            
            {# for image in trick.images %}
                <img src="{{ asset(image.webPath) }}" alt="{{ image.alt }}">
            {% endfor %}
            {% if trick.images is empty %}
            <h3>Pas d'image ici !</h3>
            {% endif #}


        </div>
    </section>

{% endblock %}
