{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Editer une figure {{ parent() }}{% endblock %}

{% block body %}

    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            Editer une figure
                        </h2>
                    </div>
                </div>
            </div>
        </div>


    <section class="slice slice-lg">
         <div class="container">
                <div class="col-md-auto">

                    {{ form_start(formTricksEdit) }}

                    {{ form_row(formTricksEdit.name, {'label': 'Nom de la figure' ,'attr': {'placeholder': 'ex: Backflip'}})}}

                    {{ form_row(formTricksEdit.description, {'label': 'Description' ,'attr': {'placeholder': 'Description de votre figure.. '}})}}

                    {{ form_row(formTricksEdit.category, {'label': 'Catégorie'} )}}


            </div>
            <div class="container">
                     <div class="col-lg-5 ml-lg-auto" style="margin-top: 5em">
                        <h3 class="heading heading-3 strong-300">
                            Avant d'éditer une figure
                        </h3>
                        <p class="">
                            Merci de vérifier toutes les informations avant de soumettre une figure. Son titre, sa description ainsi que la catégorie.
                        </p>
                        <button type="submit" class="btn btn-block btn-lg bg-gradient-cyan mt-4">Modifier</button>
                        {{ form_end(formTricksEdit) }}
                 </div>
             </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
			CKEDITOR.replace( 'ckeditor' );
	</script>
{% endblock %}
