{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Ajouter une figure | SnowTricks{% endblock %}

{% block body %}

    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            Ajouter une figure
                        </h2>
                    </div>
                </div>
            </div>
        </div>


    <section class="slice slice-lg">
        <div class="container">
            <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-6">

                    {{ form_start(formTricksAdd) }}

                    {{ form_row(formTricksAdd.name, {'label': 'Nom de la figure' ,'attr': {'placeholder': 'ex: Backflip'}})}}

                    {{ form_row(formTricksAdd.description, {'label': 'Description' ,'attr': {'placeholder': 'Description de votre figure.. '}})}}

                    {{ form_row(formTricksAdd.category, {'label': 'Catégorie'} )}}

                </div>
                <div class="col-lg-5 ml-lg-auto">
                    <h3 class="heading heading-3 strong-300">
                        Avant d'ajouter une figure
                    </h3>
                    <p class="">
                        Merci de vérifier toutes les informations avant de soumettre une figure. Son titre, sa description ainsi que la catégorie. Vous pourrez tout de même éditer votre figure après soumission.
                    </p>
                    <button type="submit" class="btn btn-block btn-lg bg-gradient-cyan mt-4">Valider</button>
                    {{ form_end(formTricksAdd) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}