{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Editer une figure {{ parent() }}{% endblock %}

{% block stylesheets %}

    <style>
        .custom-file-label {
            display: none;
        }
    </style>

{% endblock %}

{% import _self as formMacros %}
{% macro printImageRow(imageForm) %}
    <div class="js-image-item" style="margin: 20px;">
        <a href="#" class="js-remove-image" style="margin-top: 5px">
            <span class="fa fa-trash"></span> Supprimer
        </a>
        {% form_theme imageForm 'form_div_layout.html.twig' %}
        {{ form_errors(imageForm) }}

        {{ form_row(imageForm.file) }}
    </div>
{% endmacro %}

{% import _self as formVMacros %}
{% macro printVideoRow(videoForm) %}
    <div class="js-video-item" style="margin: 20px;">
        <a href="#" class="js-remove-video" style="margin-top: 5px">
            <span class="fa fa-trash"></span> Supprimer
        </a>
        {% form_theme videoForm 'form_div_layout.html.twig' %}
        {{ form_errors(videoForm) }}

        {{ form_row(videoForm.url) }}
    </div>
{% endmacro %}

{% block body %}

    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            Editer une figure
                        </h2>
                    </div>
                </div>
            </div>
        </div>


    <section class="slice slice-lg">
         <div class="container">
                <div class="col-md-auto">

                    {{ form_start(formTricksEdit) }}

                    {{ form_row(formTricksEdit.name, {'label': 'Nom de la figure' ,'attr': {'placeholder': 'ex: Backflip'}})}}

                    {{ form_row(formTricksEdit.description, {'label': 'Description' ,'attr': {'placeholder': 'Description de votre figure.. '}})}}

                    {{ form_row(formTricksEdit.category, {'label': 'Catégorie'} )}}

                    <div class="row justify-content-center js-image-wrapper"
                         data-imageprototype="{{ formMacros.printImageRow(formTricksEdit.images.vars.prototype)|e('html_attr') }}"
                         data-index="{{ formTricksEdit.images|length }}">
                        {% if formTricksEdit.images|length == 0 %}
                            {# prevents weird label from showing up #}
                            {{ form_widget(formTricksEdit.images) }}
                        {% else %}
                            {% for image in formTricksEdit.images %}
                                {{ formMacros.printImageRow(image) }}
                            {% endfor %}
                        {% endif %}


                        <a href="" class="btn btn-info js-image-add" style="max-height: 45px; margin-top: 30px ">
                            <span class="fa fa-plus-circle"></span>
                            Ajouter une image
                        </a>

                    </div>

                    <div class="row justify-content-center js-video-wrapper"
                         data-videoprototype="{{ formVMacros.printVideoRow(formTricksEdit.videos.vars.prototype)|e('html_attr') }}"
                         data-index="{{ formTricksEdit.videos|length }}">
                        {% if formTricksEdit.videos|length == 0 %}
                            {# prevents weird label from showing up #}
                            {{ form_widget(formTricksEdit.videos) }}
                        {% else %}
                            {% for video in formTricksEdit.videos %}
                                {{ formVMacros.printVideoRow(video) }}
                            {% endfor %}
                        {% endif %}


                        <a href="" class="btn btn-info js-video-add" style="max-height: 45px; margin-top: 30px ">
                            <span class="fa fa-plus-circle"></span>
                            Ajouter une video
                        </a>

                    </div>


            </div>
            <div class="container">
                     <div class="col-lg-5 ml-lg-auto" style="margin-top: 5em">
                        <h3 class="heading heading-3 strong-300">
                            Avant d'éditer une figure
                        </h3>
                        <p class="">
                            Merci de vérifier toutes les informations avant de soumettre une figure. Son titre, sa description ainsi que la catégorie.
                        </p>
                        <button type="submit" class="btn btn-block btn-lg bg-gradient-cyan mt-4">Modifier</button>
                        {{ form_end(formTricksEdit) }}
                 </div>
             </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
			CKEDITOR.replace( 'ckeditor' );
	</script>
    <script>
        (function ($) {
            $(document).ready(function() {
                var $wrapper = $('.js-image-wrapper');
                $wrapper.on('click', '.js-remove-image', function(e) {
                    e.preventDefault();
                    $(this).closest('.js-image-item')
                        .fadeOut()
                        .remove();
                });
                $wrapper.on('click', '.js-image-add', function(e) {
                    e.preventDefault();
                    var imageprototype = $wrapper.data('imageprototype');
                    // get the new index
                    var index = $wrapper.data('index');
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = imageprototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $wrapper.data('index', index + 1);
                    // Display the form in the page before the "new" link
                    $(this).before(newForm);
                });

                var $wrapperV = $('.js-video-wrapper');
                $wrapperV.on('click', '.js-remove-video', function(e) {
                    e.preventDefault();
                    $(this).closest('.js-video-item')
                        .fadeOut()
                        .remove();
                });
                $wrapperV.on('click', '.js-video-add', function(e) {
                    e.preventDefault();
                    var videoprototype = $wrapperV.data('videoprototype');
                    // get the new index
                    var index = $wrapperV.data('index');
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = videoprototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $wrapperV.data('index', index + 1);
                    // Display the form in the page before the "new" link
                    $(this).before(newForm);
                });
            });
        })(jQuery);
    </script>
{% endblock %}

