{% extends 'base.html.twig' %}

{% block navbar %}navbar-light{% endblock %}

{% block title %}Ajouter une figure {{ parent() }}{% endblock %}

{% block stylesheets %}

<style>
    .custom-file-label {
        display: none;
    }
</style>

{% endblock %}


{% import _self as formMacros %}
{% macro printImageRow(imageForm) %}
    <div class="js-image-item" style="margin: 20px;">
        <a href="#" class="js-remove-image" style="margin-top: 5px">
           <span class="fa fa-trash"></span> Supprimer
        </a>
        {% form_theme imageForm 'form_div_layout.html.twig' %}
        {{ form_errors(imageForm) }}

        {{ form_row(imageForm.file) }}
    </div>
{% endmacro %}

{% block body %}

    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            Ajouter une figure
                        </h2>
                    </div>
                </div>
            </div>
        </div>


    <section class="slice slice-lg">
        <div class="container">
                <div  class="col-md-auto">

                    {{ form_start(formTricksAdd) }}

                    {{ form_row(formTricksAdd.name, {'label': 'Nom de la figure' ,'attr': {'placeholder': 'ex: Backflip'}})}}
                    {{ form_row(formTricksAdd.description, {'label': 'Description' ,'attr': {'placeholder': 'Description de votre figure.. '}})}}
                    {{ form_row(formTricksAdd.category, {'label': 'Catégorie'} )}}


                    <div class="row justify-content-center js-image-wrapper"
                         data-imageprototype="{{ formMacros.printImageRow(formTricksAdd.images.vars.prototype)|e('html_attr') }}"
                         data-index="{{ formTricksAdd.images|length }}">
                        {% if formTricksAdd.images|length == 0 %}
                            {# prevents weird label from showing up #}
                            {{ form_widget(formTricksAdd.images) }}
                        {% else %}
                            {% for image in formTricksAdd.images %}
                                {{ formMacros.printImageRow(image) }}
                            {% endfor %}
                        {% endif %}


                        <a href="" class="btn btn-info js-image-add" style="max-height: 45px; margin-top: 30px ">
                            <span class="fa fa-plus-circle"></span>
                            Ajouter une images
                        </a>

                    </div>

                </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8" style="margin-top: 5em">
                     <h3 class="heading heading-3 strong-300">
                          Avant d'ajouter une figure
                     </h3>
                      <p class="">
                         Merci de vérifier toutes les informations avant de soumettre une figure. Son titre, sa description ainsi que la catégorie. Vous pourrez tout de même éditer votre figure après soumission.
                      </p>
                       <button type="submit" class="btn btn-block btn-lg bg-gradient-cyan mt-4">Valider</button>
                       {{ form_end(formTricksAdd) }}
                </div>
            </div>
        </div>

    </section>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script>
			CKEDITOR.replace( 'ckeditor' );
	</script>
    <script>
         (function ($) {
            $(document).ready(function() {
                var $wrapper = $('.js-image-wrapper');
                $wrapper.on('click', '.js-remove-image', function(e) {
                    e.preventDefault();
                    $(this).closest('.js-image-item')
                        .fadeOut()
                        .remove();
                });
                $wrapper.on('click', '.js-image-add', function(e) {
                    e.preventDefault();
                    var imageprototype = $wrapper.data('imageprototype');
                    // get the new index
                    var index = $wrapper.data('index');
                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newForm = imageprototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $wrapper.data('index', index + 1);
                    // Display the form in the page before the "new" link
                    $(this).before(newForm);
                });
            });
        })(jQuery);
    </script>

    
{% endblock %}
